## Testing the implementation of the algorithm. ##

In [1]:
# Data Source - https://www.kaggle.com/lucidlenn/sloan-digital-sky-survey

# Classification of stars, galaxies and quasars.

import pandas as pd
import numpy as np
import scipy.optimize

#load the data
data = pd.read_csv("CosmosObject.csv")
data.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid,class
0,1.240000e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.720000e+18,-0.000009,3306,54922,491,1
1,1.240000e+18,183.598371,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.640000e+17,-0.000055,323,51615,541,1
2,1.240000e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.230000e+17,0.123111,287,52023,513,2
3,1.240000e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.720000e+18,-0.000111,3306,54922,510,1
4,1.240000e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.720000e+18,0.000590,3306,54922,512,1

In [ ]:
# Some feature selection

data.drop("objid", inplace=True)

2.880000e+18    443
3.260000e+18    288
8.390000e+18    202
3.720000e+18    178
3.110000e+17    156
               ...
6.690000e+18      1
7.570000e+18      1
7.990000e+18      1
6.420000e+18      1
5.290000e+17      1
Name: specobjid, Length: 335, dtype: int64